data/ncs/kuka_stare_decon_Ka-Scat20230615-175713.nc filter=lfs diff=lfs merge=lfs -text
data/ncs/kuka_stare_decon_Ka-Scat20230803-133042.nc filter=lfs diff=lfs merge=lfs -text
data/ncs/kuka_stare_decon_Ka-Scat20230816-174736.nc filter=lfs diff=lfs merge=lfs -text
data/ncs/kuka_stare_decon_Ka-Scat20231008-172423.nc filter=lfs diff=lfs merge=lfs -text
data/ncs/kuka_stare_decon_Ku-Scat20230615-175508.nc filter=lfs diff=lfs merge=lfs -text
data/ncs/kuka_stare_decon_Ku-Scat20230816-174921.nc filter=lfs diff=lfs merge=lfs -text
data/ncs/kuka_stare_decon_Ku-Scat20231008-170241.nc filter=lfs diff=lfs merge=lfs -text
data/ncs/kuka_stare_decon_Ka-Scat20230824-124647.nc filter=lfs diff=lfs merge=lfs -text
data/ncs/kuka_stare_decon_Ka-Scat20230914-203137.nc filter=lfs diff=lfs merge=lfs -text
data/ncs/kuka_stare_decon_Ku-Scat20230803-133401.nc filter=lfs diff=lfs merge=lfs -text
data/ncs/kuka_stare_decon_Ku-Scat20230824-124647.nc filter=lfs diff=lfs merge=lfs -text
data/ncs/kuka_stare_decon_Ku-Scat20230914-202921.nc filter=lfs diff=lfs merge=lfs -text
data/raw/KU-SCAT-20230803-133401.dat filter=lfs diff=lfs merge=lfs -text
data/raw/KA-SCAT-20230615-175713.dat filter=lfs diff=lfs merge=lfs -text
data/raw/KA-SCAT-20230816-174736.dat filter=lfs diff=lfs merge=lfs -text
data/raw/KA-SCAT-20230824-124647.dat filter=lfs diff=lfs merge=lfs -text
data/raw/KU-SCAT-20230615-175508.dat filter=lfs diff=lfs merge=lfs -text
data/raw/KU-SCAT-20230824-124647.dat filter=lfs diff=lfs merge=lfs -text
data/raw/KU-SCAT-20230914-202921.dat filter=lfs diff=lfs merge=lfs -text
data/raw/KU-SCAT-20231008-170241.dat filter=lfs diff=lfs merge=lfs -text
data/raw/KA-SCAT-20230803-133042.dat filter=lfs diff=lfs merge=lfs -text
data/raw/KA-SCAT-20230914-203137.dat filter=lfs diff=lfs merge=lfs -text
data/raw/KA-SCAT-20231008-172423.dat filter=lfs diff=lfs merge=lfs -text
data/raw/KU-SCAT-20230816-174921.dat filter=lfs diff=lfs merge=lfs -text
